---
- name: Add Zabbix repository key
  apt_key:
    url: https://repo.zabbix.com/zabbix-official-repo.key
    state: present

- name: Add Zabbix repository
  apt_repository:
    repo: "deb https://repo.zabbix.com/zabbix/6.0/ubuntu {{ ansible_distribution_release }} main"
    state: present

- name: Install Zabbix agent
  apt:
    name: zabbix-agent2
    state: present
    update_cache: yes

- name: Configure Zabbix agent
  template:
    src: zabbix_agent2.conf.j2
    dest: /etc/zabbix/zabbix_agent2.conf
    owner: root
    group: root
    mode: '0644'
  notify: restart zabbix-agent2

- name: Ensure Zabbix agent is running and enabled
  service:
    name: zabbix-agent2
    state: started
    enabled: yes

- name: Allow Zabbix server in ufw (if enabled)
  ufw:
    rule: allow
    port: '10050'
    proto: tcp
    src: "{{ zabbix_server_ip }}"
  when: ansible_facts.ufw.status == 'active'