---
- name: Базовая настройка всех ВМ
  hosts: all_hosts
  become: yes
  
  tasks:
    - name: Обновление пакетов
      apt:
        update_cache: yes
        cache_valid_time: 3600
      when: ansible_os_family == 'Debian'
    
    - name: Установка основных утилит
      apt:
        name:
          - curl
          - wget
          - htop
          - net-tools
          - fail2ban
          - ufw
        state: present
      when: ansible_os_family == 'Debian'
    
    - name: Настройка часового пояса
      timezone:
        name: Europe/Moscow
    
    - name: Настройка фаервола
      ufw:
        rule: allow
        port: "{{ item }}"
        proto: tcp
      loop:
        - 22   # SSH
        - 80   # HTTP
        - 443  # HTTPS
      when: ansible_os_family == 'Debian'
    
    - name: Включение фаервола
      ufw:
        state: enabled
      when: ansible_os_family == 'Debian'