---
all:
  vars:
    ansible_user: safalkon
    ansible_ssh_private_key_file: "/home/safalkon/.ssh/id_ed25519"
    ansible_ssh_common_args: '-o StrictHostKeyChecking=no'
  children:
    bastion:
      hosts:
        diplom-diplom-bastion.ru-central1.internal:
          ansible_host: 89.169.147.115
    zabbix:
      hosts:
        zabbix.ru-central1.internal:
          ansible_host: 62.84.115.179
    kibana:
      hosts:
        kibana.ru-central1.internal:
          ansible_host: 93.77.187.245
    private:
      vars:
        ansible_ssh_common_args: '-o StrictHostKeyChecking=no -o ProxyCommand="ssh -W %h:%p -q safalkon@diplom-diplom-bastion.ru-central1.internal"'
      children:
        web:
          hosts:
            cl1agteqodo5jjn798fr-ekyn.ru-central1.internal:
              ansible_host: 10.0.11.21
            cl1agteqodo5jjn798fr-epit.ru-central1.internal:
              ansible_host: 10.0.12.3
        elasticsearch:
          hosts:
            elasticsearch.ru-central1.internal:
              ansible_host: 10.0.21.10
    zabbix_server:
      hosts:
        zabbix.ru-central1.internal:
    zabbix_agents:
      hosts:
        cl1agteqodo5jjn798fr-ekyn.ru-central1.internal:
        cl1agteqodo5jjn798fr-epit.ru-central1.internal:
        elasticsearch.ru-central1.internal:
        kibana.ru-central1.internal:
        diplom-diplom-bastion.ru-central1.internal:
      vars:
        zabbix_server: zabbix.ru-central1.internal
    elk:
      children:
        elasticsearch:
        kibana:
    logging:
      children:
        elasticsearch:
        kibana:
    backup:
      hosts:
        diplom-diplom-bastion.ru-central1.internal:
