---
all:
  vars:
    ansible_user: safalkon
    ansible_ssh_private_key_file: "~/.ssh/id_rsa"
    # Bastion proxy for internal hosts
    ansible_ssh_common_args: '-o ProxyCommand="ssh -W %h:%p -q safalkon@{{ bastion_host }}"'
  children:
    bastion:
      hosts:
        diplom-diplom-bastion.ru-central1.internal:
      vars:
        ansible_host: "{{ bastion_public_ip }}"
        ansible_ssh_common_args: ""  # No proxy for bastion itself
    # Public hosts (have public IP)
    public:
      hosts:
        diplom-diplom-bastion.ru-central1.internal:
        zabbix.ru-central1.internal:
        kibana.ru-central1.internal:
      vars:
        ansible_connection: ssh
    # Private hosts (accessed via bastion)
    private:
      vars:
        ansible_host: "{{ internal_ip }}"
        bastion_host: "diplom-diplom-bastion.ru-central1.internal"
      children:
        web:
          hosts:
            diplom-diplom-web-ig-1.ru-central1.internal:
              internal_ip: 10.0.2.10  # Example, replace with actual
            diplom-diplom-web-ig-2.ru-central1.internal:
              internal_ip: 10.0.2.11
        elasticsearch:
          hosts:
            elasticsearch.ru-central1.internal:
              internal_ip: 10.0.3.10
    # Monitoring
    zabbix_server:
      hosts:
        zabbix.ru-central1.internal:
    zabbix_agents:
      hosts:
        diplom-diplom-web-ig-1.ru-central1.internal:
        diplom-diplom-web-ig-2.ru-central1.internal:
        elasticsearch.ru-central1.internal:
        kibana.ru-central1.internal:
        diplom-diplom-bastion.ru-central1.internal:
      vars:
        zabbix_server: zabbix.ru-central1.internal
    elk:
      children:
        elasticsearch:
        kibana:
    logging:
      children:
        elasticsearch:
        kibana:
    backup:
      hosts:
        diplom-diplom-bastion.ru-central1.internal:  # Use bastion as backup node