---
- name: Install Kibana
  apt:
    name: kibana
    state: present

- name: Configure Kibana
  template:
    src: kibana.yml.j2
    dest: /etc/kibana/kibana.yml
    owner: root
    group: kibana
    mode: '0640'
  notify: restart kibana

- name: Ensure Kibana is started and enabled
  service:
    name: kibana
    state: started
    enabled: yes

- name: Wait for Kibana to be ready
  uri:
    url: "http://localhost:5601"
    status_code: 200
  register: result
  until: result.status == 200
  retries: 30
  delay: 5